#orderItems
{
  width:650px;
  float:left;
}

#orderTotal
{
  width:220px;
  float:left;
  border-radius:15px;
  border:2px solid gray;
  padding-top:15px;
  position:relative;
}

#buyButton
{
  margin-bottom:20px;
}

#pastItems
{
  display:none;
}

.thumbnail
{
  margin:10px !important;
  float:left !important;
}
.thumbnail:hover
{
  border:1px solid black !important;
}
