<%inherit file="app_base.htm" />

<%block name="content_middle">
  <h1 class="myheader">${ product.name | h }</h1>

  <div id="mycontainer">
  %if product.status == 'A':
    <div id="image_sidebar">
      <ul>
        %for image in product.image_urls():
        <li class="">
          <img class="mythumbnail" alt="an alternate image for ${ product.name | h }" src="${ image }" />
        </li>
        %endfor
      </ul>
    </div>

    <div id="image_viewer">
      <img id="main_image" alt="main picture for ${ product.name | h }" src="${ product.image_url() }" />
    </div>

    ##Show the quantity option if the product is a bulk product
    <div id="purchase">
      <p id="product_price">Price: ${'${:,.2f}'.format(product.price)}</p>
      <div id="myform">
        ${ form }
      </div>
    </div>
    <div id="product_description">
      ${ product.description }
    </div>
  %else:
    <h2>This product is no longer available</h2>
  %endif
  </div>

</%block>
