<%inherit file="app_base.htm" />

<%block name="content_middle">
  <h1 class="myheader">${'All Products' if category is None else category.name}</h1>

  <div id="paginator" class="text-right">
    <a href="#" id="previous_page"><<</a>
    Page <span id="page_num">${ current_page }</span> of <span id="max_page">${ num_pages }</span>
    <a href="#" id="next_page">>></a>
  </div>

  <div id="product_table">
    <div id="catalog">
      ##this is where the ajax table is built
    </div>
  </div>

</%block>
