##ABOUT PAGE
<%inherit file="app_base.htm" />

<%block name="content_middle">
    <div class="content">
      <h1>Welcome to the about page!</h1>
      <h2>Learn more about Family Oriented Music Organization</h2>
      <p class="page_text">
      Family Oriented Music Organization Music was founded in 1983.
      It was started because the owner was tired of driving 20 miles to buy strings.
      He opened a store in his home town of Spanish Fork Utah. The store started with one guitar on the wall.
      After he paid off his orange Ford Pinto he took out a small loan to buy inventory.
      In order to keep it afloat in the early years, he taught 60-70 private guitar
      lessons per week to pay rent and for an employee to run the shop while he was teaching.
      <br><br>
      Today Family Oriented Music Organization Music has over 100 guitars on our walls.
      We have a large selection of guitars, ukuleles, banjos, mandolins, and many
      other fretted instruments on display. Our inventory also includes hundreds of band,
      orchestra and folk instruments of all types. We stock over 5000 different titles in
      our sheet music section and service, repair and maintenance most instruments.
      <br><br>
      We are lucky to have some of the best teachers in the Utah valley teaching right out of our store.
      Our teachers offer lessons for guitar, bass, banjo, mandolin, ukulele, cello, violin, viola, voice, and drums.
      If you are looking for another type of music instruction, we would be happy to help you find someone in our area.
      <br><br>
      Music is our passion. In order to promote live music Family Oriented Music Organization Music purchased a
      theater and sponsors a free weekly jam session showcasing local talent on Thursday nights starting at 8 p.m.
      It is always free and family friendly. A host band usually plays about a half hour set,
      during which time you can sign up to get on stage with your band or jump in and play with the host band.
      We get some of the best players in Utah out to the jams so even if you don’t play, come on out and enjoy the show.
      Check out the theater schedule here, and feel free to contact us if you'd like to schedule your own concert.
      </p>
      <h2>Improved Accessibility</h2>
      <p class="page_text">
        We recently updated our site to accomodate for greater accessibility:
      </p>
        <ul class="page_text">
          <li>Our site is compliant with color contrast combinations, which make the text easier to read on the background</li>
          <li>The links are now easier to find and distinguish from the surrounding text</li>
          <li>A "skip to content" button has been added at the top of the page to allow users to find the main content easier</li>
          <li>Alternative text has been added to each image so those visually impaired can know what the image depicts</li>
          <li>The site can be used by the keyboard alone using the tab key</li>
          <li>Headings are used to show the hierarchy of the site</li>
        </ul>
      <p class="page_text">
        We hope that these changes will increase the ease of navigation on our site for all users.
      </p>
    </div>
</%block>
